<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
    <title>Document</title>
</head>
<body>
<div class="error__container">
      <div class="error__code">
        <p>4</p>
        <p>0</p>
        <p>4</p>
      </div>
      <div class="error__title">Page Not Found</div>
      <div class="error__description">
        We can't seem to find that page. It might have been removed or doesn't
        exist anymore.
      </div>
    <form action="/" target="_blank">
      <button class="action">Go Home</button>
    </form>
    </div>
</body>
</html>